h1 {
    color: red;
}

my_1 {
    background-color: grey;
    color: black;
}

my_2 {
    background-color: greenyellow;
    color: green;
}

my_3 {
    background-color: lightgrey;
    color: grey;
}

my_4 {
    background-color: lightyellow;
    color: orange;
}

my_5 {
    background-color: red;
    color: brown;
}